/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
div {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 3px #813b5c;
  background-color: #f3e0e9;
}

button {
  font-family: "Josefin Sans", sans-serif;
  font-size: smaller;
  font-style: italic;
  color: rgb(41, 39, 39);
}

.special {
  background-color: rgb(71, 212, 212);
  border: dashed 5px rgb(194, 92, 148);
  color: rgb(194, 92, 148);
  font-weight: bold;
}

.text-left {
  border: 0px;
  text-align: left;
}

.text-right {
  border: 0px;
  text-align: right;
}